/* Basic button styles */
.button {
    display: block;
    margin-bottom: 10px;
    padding: 10px 20px;
    background-color: #FFFFFF;
    color: #000000;
    text-decoration: none;
    border-radius: 5px;
    border: 1px solid #000000;
  }
  
  .button:hover {
    background-color: #f1f1f1;
  }
  