@font-face {
  font-family: 'Inter-Light';
  src: url('../../assets/fonts/Inter-Light.ttf') format('truetype');
  font-weight: 300;
}
@font-face {
  font-family: 'Inter-ExtraLight';
  src: url('../../assets/fonts/Inter-ExtraLight.ttf') format('truetype');
  font-weight: 200;
}
@font-face {
  font-family: 'Inter-Regular';
  src: url('../../assets/fonts/Inter-Regular.ttf') format('truetype');
  font-weight: 400;
}
@font-face {
  font-family: 'Inter-ExtraBold';
  src: url('../../assets/fonts/Inter-ExtraBold.ttf') format('truetype');
  font-weight: 800;
}
@font-face {
  font-family: 'SpaceGrotesk-Light';
  src: url('../../assets/fonts/SpaceGrotesk-Light.ttf') format('truetype');
  font-weight: 300;
}
@font-face {
  font-family: 'SpaceGrotesk-Regular';
  src: url('../../assets/fonts/SpaceGrotesk-Regular.ttf') format('truetype');
  font-weight: 300;
}
@font-face {
  font-family: 'SpaceGrotesk-Bold';
  src: url('../../assets/fonts/SpaceGrotesk-Bold.ttf') format('truetype');
  font-weight: 700;
}
.nav-list .nav-list-item .nav-list-link {
  font-family: 'Inter-ExtraBold', sans-serif !important; 
  font-size: 16px !important;
  font-style: normal !important;
  font-weight: 800 !important; 
  line-height: 28px !important;
  color: #0C1932 !important; 
}
.nav-list .nav-list-item .nav-list-link.active {
  font-family: 'Inter-ExtraBold', sans-serif !important; 
  font-size: 16px !important;
  font-style: normal !important;
  font-weight: 800  !important; 
  line-height: 28px !important;
  color: #0902a2 !important; 
}
.nav-list .nav-list-item .submenu-link:not(.active) {
  font-weight: 400 !important;
  color: #485161 !important; 
}
p,
a,
li,
span,
em,
button,
input,
select,
i,
optgroup,
option,
textarea,
div,
label,
button {
  -webkit-font-smoothing: antialiased;
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  color: #0C1932;
}

p a,
h1 a,
h2 a,
h3 a,
h4 a,
span a,
em a {
  color: #0902a2; 
  text-decoration: underline; 
  font-weight: inherit; 
}
a:not([class]) {
  text-decoration: none;
  position: relative;
}
a:not([class]):hover {
  border-bottom: 2px solid #0902a2; 
}

.button a {
  color: #FFFFFF; 
  &:hover {
    color: #000000; 
  }
}
h4 {
  -webkit-font-smoothing: antialiased;
  font-family: 'Inter-ExtraBold', sans-serif;
  font-weight: 800;
  line-height: 32px;
  font-size: 1.25rem;
  @media (max-width: 1199px) {
    font-size: 1rem;
    line-height: 28px;
  }
}
h3 {
  -webkit-font-smoothing: antialiased;
  font-family: 'SpaceGrotesk-Regular', sans-serif;
  font-weight: 300;
  line-height: 40px;
  font-size: 1.75rem;
  font-feature-settings: 'ss03' on, 'ss04' on;
}
h2 {
  font-family: 'Inter-ExtraBold', sans-serif;
  font-size: 20px !important;
  font-style: normal;
  font-weight: 800;
  line-height: 32px;
  color: #0C1932;
}
h1 {
  font-family: 'SpaceGrotesk-Bold', sans-serif;
  font-size: 40px !important;
  font-style: normal;
  font-weight: 700;
  line-height: 52px;
  font-feature-settings: 'ss04' on, 'ss03' on;
  color: #0902a2;
}
.site-logo {
  width: 40px !important;
  height: 40px !important;
  overflow: hidden !important;
  margin-right: 16px !important;
}
.site-custom-title {
  color: $body-heading-color !important;
  font-weight: 700 !important;
  font-size: 20px !important;
  line-height: 24px !important;
  font-family: 'SpaceGrotesk-Bold', sans-serif !important;
}
a {
  cursor: pointer !important;
  text-decoration: none;
}
